<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>betterspotlight</string>
    <key>CFBundleIdentifier</key>
    <string>com.betterspotlight.app</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>BetterSpotlight</string>
    <key>CFBundleIconFile</key>
    <string>BetterSpotlight</string>
    <key>CFBundleIconName</key>
    <string>BetterSpotlight</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright 2026 BetterSpotlight. All rights reserved.</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUFeedURL</key>
    <string>https://updates.betterspotlight.com/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>REPLACE_WITH_SPARKLE_ED25519_PUBLIC_KEY</string>
</dict>
</plist>
